body, html {
  background-color: #005bd6;
  color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  font-size: 2vw;
  /*height: 100%;*/
}

/*section {
  height: 100%;
}*/

a {
  text-decoration: none;
}

h1, h3, h4 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.gold {
  color: #FFEB00;
}

.mdl-layout a {
  color: #ffffff;
}

.mdl-layout__tab-bar {
  background-color: #005BD6;
}

.mdl-layout__tab-bar-button {
  background-color: #005BD6;
}

.mdl-layout {
  background-color: #005BD6;
}

.mdl-layout__header{
  background-color: #005bd6;
  width: 100%;
}

.mdl-button {
  background-color: #FFEB00;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background-color: #FFEB00;
}

.mdl-chip {
  background-color: #FFEB00;
  width: 250px;
}

.brand {
  width: 50px;
  padding-right: 10px;
}

.brand img {
  width: 40px;
}

#main {
  padding: 20px;
  color: #ffffff;
  /*display: block;*/
}

#main img {
  width: 80%;
  max-width: 260px;
  border-radius: 50%;
  margin-left: 10%;
  vertical-align: middle;
  margin-top: 30%;
}

.main-intro p {
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.material-icons {
  font-size: 20px;
  vertical-align: middle;
}

.journey-points {
  font-size: 20px; 
  padding-left: 10px;
  text-decoration: underline;
}

.mdl-tooltip {
  background-color: rgba(0,0,0, 0.8);
}

.experiences ul {
  list-style-type: none;
}

.experiences ul li {
  padding: 10px;
}



.watermark p {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  bottom: 0;
  position: fixed;
  opacity: 0.22;
  font-weight: 700;
  z-index: 0;
  width: 80%;
  white-space: nowrap;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 4vw;
  }

  .main-intro p {
    font-size: 2em;
  }
}

