body, html {
  background-color: #005bd6;
  color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  font-size: 2vw;
  height: 100%;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
}

h1, h3, h4 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.gold {
  color: #FFEB00;
}

.mdl-layout a {
  color: #ffffff;
}

.mdl-layout__tab-bar {
  background-color: #005BD6;
}

.mdl-layout__tab-bar-button {
  background-color: #005BD6;
}

.mdl-layout {
  background-color: #005BD6;
}

.mdl-layout__header{
  background-color: #005bd6;
  width: 100%;
}

.mdl-button {
  background-color: #FFEB00;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background-color: #FFEB00;
}

.mdl-chip {
  background-color: #FFEB00;
  width: 250px;
}

.brand {
  width: 50px;
  padding-right: 10px;
}

.brand img {
  width: 40px;
}

#main {
  padding: 20px;
  color: #ffffff;
  /*display: block;*/
}

#main img {
  width: 80%;
  max-width: 260px;
  border-radius: 50%;
  margin-left: 10%;
  vertical-align: middle;
  margin-top: 30%;
  border: 3px solid #FFEB00;
}

.main-intro p {
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.material-icons {
  font-size: 20px;
  vertical-align: middle;
}

#aboutme ul li {
  font-size: 1.5em;
  line-height: 1.5em;
}

#aboutme ol li {
  font-size: 1.25em;
}

.portfolio {
  width: 1080px;
  margin: 0 auto;
  overflow-x: scroll;
}

.row {
  width: 200%;
  display: inline-flex;
  flex-wrap: nowrap;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  /*float: right;*/
  margin: 10px;
}

.demo-card-square1 > .mdl-card__title {
  color: #fff;
  background:
    url('images/portfolio/tapestry.png') bottom right 15% no-repeat #46B6AC;
}

.demo-card-square2 > .mdl-card__title {
  color: #fff;
  background:
    url('images/portfolio/grey.png') bottom right 15% no-repeat #46B6AC;
}

.demo-card-square3 > .mdl-card__title {
  color: #fff;
  background:
    url('images/portfolio/hms.png') bottom right 15% no-repeat #46B6AC;
}

.demo-card-square4 > .mdl-card__title {
  color: #fff;
  background:
    url('images/portfolio/laquinta.png') bottom right 15% no-repeat #46B6AC;
}

.demo-card-square5 > .mdl-card__title {
  color: #fff;
  background:
    url('images/portfolio/rmcc.png') top right 30% no-repeat #46B6AC;
}

.demo-card-squareA > .mdl-card__title {
  color: #fff;
  background:
    url('images/places/memphis.png') bottom right 60% no-repeat #46B6AC;
}

.demo-card-squareB > .mdl-card__title {
  color: #fff;
  background:
    url('images/places/brooklyn.png') bottom left 20% no-repeat #46B6AC;
}

.demo-card-squareC > .mdl-card__title {
  color: #fff;
  background:
    url('images/places/middletown.png') bottom right 15% no-repeat #46B6AC;
}

.demo-card-squareD > .mdl-card__title {
  color: #fff;
  background:
    url('images/places/simsbury.png') bottom right 15% no-repeat #46B6AC;
}

.demo-card-squareE > .mdl-card__title {
  color: #fff;
  background:
    url('images/places/accra.png') bottom right 15% no-repeat #46B6AC;
}

.watermark p {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  bottom: 0;
  position: fixed;
  opacity: 0.22;
  font-weight: 700;
  z-index: 0;
  width: 80%;
  white-space: nowrap;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
}



@media screen and (max-width: 800px) {
  html {
    font-size: 4vw;
  }

  .main-intro p {
    font-size: 2em;
  }
}

